<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DevTube</title>
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/devtube/styles.css" />
  <link rel="stylesheet" href="/css/devtube/components/nav.css" />
</head>

<body>
  <script>
    const formatNumber = num => num >= 1e6 ? (num / 1e6).toFixed(2) + "M" : num >= 1e3 ? (num / 1e3).toFixed(2) + "K" : Math.floor(num).toString()
    const getTimestamp = (createdAt) => {
      const now = new Date()
      const timeDifference = now.getTime() - new Date(createdAt).getTime()
      const minute = 60 * 1000
      const hour = 60 * minute
      const day = 24 * hour
      const week = 7 * day
      const month = 30 * day
      const year = 365 * day

      if (timeDifference < minute) {
        const seconds = Math.floor(timeDifference / 1000)
        return `${seconds} ${seconds === 1 ? "second" : "seconds"} ago`
      } else if (timeDifference < hour) {
        const minutes = Math.floor(timeDifference / minute)
        return `${minutes} ${minutes === 1 ? "minute" : "minutes"} ago`
      } else if (timeDifference < day) {
        const hours = Math.floor(timeDifference / hour)
        return `${hours} ${hours === 1 ? "hour" : "hours"} ago`
      } else if (timeDifference < week) {
        const days = Math.floor(timeDifference / day)
        return `${days} ${days === 1 ? "day" : "days"} ago`
      } else if (timeDifference < month) {
        const weeks = Math.floor(timeDifference / week)
        return `${weeks} ${weeks === 1 ? "week" : "weeks"} ago`
      } else if (timeDifference < year) {
        const months = Math.floor(timeDifference / month)
        return `${months} ${months === 1 ? "month" : "months"} ago`
      } else {
        const years = Math.floor(timeDifference / year)
        return `${years} ${years === 1 ? "year" : "years"} ago`
      }
    }
  </script>

  <main>
    <div id="__popUpBG"></div>
    <%- include('./components/nav.ejs') %>
    <div class="main-body scrollable">
      <% if (page!='player' ) {%>
      <%- include('./components/sidenav.ejs') %>
      <% } %>
      <%- include(`./pages/${page}.ejs`) %>
    </div>
  </main>

  <% if (isCreateChannel) {%>
  <%- include('./components/createChannel.ejs') %>
  <% } %>

  <script>
    const popUpBG = document.getElementById('__popUpBG')
    let signInPopUp

    function loginRedirect() {
      if (!!!`<%=channel?.uid%>`) location.href = '/api/google'
    }

    function showSignInPopUp(element, {
      title,
      message
    }) {
      const rect = element.getBoundingClientRect()
      signInPopUp = document.createElement('div')
      signInPopUp.id = '___loginPopup'
      signInPopUp.classList.add((innerHeight - rect.bottom) > 180 ? 'bottom' : 'top')
      if ((innerWidth - rect.right) < 280) signInPopUp.classList.add('left')
      console.log(innerWidth - rect.right);
      signInPopUp.innerHTML = `<span class="title">${title || 'Want to access this feature'}</span><span class="message">${message || 'Sign in to access this feature.'}</span><a href="/api/google">Sign in</a>`
      element.appendChild(signInPopUp)
      popUpBG.classList.add('show')
    }

    function removeSignInPopUp() {
      popUpBG.classList.remove('show')
      signInPopUp.remove()
    }

    document.getElementById('__popUpBG').addEventListener('click', removeSignInPopUp)
  </script>
</body>

</html>